@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');







  /* Fun Fact Container */
  .fun-fact-container {
    margin-bottom: 50px;    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    align-items: center;
  }
  
  .fun-fact-item {
    flex: 1 1 22%; /* Adjusted for four items */
    text-align: center;
    margin: 10px;
  }
  
  .funfact-wrap {
    padding: 20px;
  }
  
  .funfact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .funfact-number {
    font-size: 60px;
    font-weight: bold;
    color: #fff; /* Number color */
  }
  
  .funfact-number sup {
    font-size: 0.5em; /* Smaller size for the superscript */
    vertical-align: super; /* Position the "Th" slightly above the number */
  }
  
  .funfact-number-title {
    font-weight: bold;
    font-size: 18px;
    color: #fff; /* Title color */
    margin: 5px 0;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .fun-fact-item {
        flex: 1 1 45%;
    }
  }
  
  @media (max-width: 480px) {
    .fun-fact-item {
        flex: 1 1 100%;
    }
  }
  


body {
    margin: 0;
    overflow-x: hidden;
    background: #000;
}

.bg-dark {
  background-color: #000; /* Or any dark color */
}


.trail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* z-index: 1000; */
}

.trail-item {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    filter: blur(50px);
    opacity: 0.9;
    transition: transform 0.5s ease, opacity 0.8s ease-out;
}

@keyframes rainbow {
    0% {
        background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 100%);
    }

    14% {
        background: radial-gradient(circle, rgba(255, 127, 0, 1) 0%, rgba(255, 127, 0, 0) 100%);
    }

    28% {
        background: radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 0) 100%);
    }

    42% {
        background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 0) 100%);
    }

    57% {
        background: radial-gradient(circle, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
    }

    71% {
        background: radial-gradient(circle, rgba(75, 0, 130, 1) 0%, rgba(75, 0, 130, 0) 100%);
    }

    85% {
        background: radial-gradient(circle, rgba(238, 130, 238, 1) 0%, rgba(238, 130, 238, 0) 100%);
    }

    100% {
        background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 100%);
    }
}

.trail-item {
    animation: rainbow 3s linear infinite;
    /* Adjust animation duration for a slower transition */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: white;
}



/* service */




* {
    box-sizing: border-box;
  }
  
  .service-body{
    background-color: black;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-aligns panels horizontally */
    align-items: center; /* Center-aligns panels vertically */
    width: 90vw;
    gap: 10px;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 0.7s ease-in-out;
  }
  
  .panel h3 {
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides overflowing text */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows */
    opacity: 1;
    /* Always visible */
    transition: transform 0.8s ease-in-out;
    transform: rotate(-90deg);
    /* Rotates text vertically */
    transform-origin: left top;
    /* Adjusts the origin of the transformation */
  }
  
  .panel p {
    position: absolute;
    top: 50%;
    /* Centers text vertically */
    left: 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .panel:hover {
    flex: 5;
  }
  
  .panel:hover h3,
  .panel:hover p {
    opacity: 1;
    transform: rotate(0);
    /* Resets rotation on hover */
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3,
  .panel.active p {
    opacity: 1;
    transform: rotate(0);
    /* Resets rotation when card is expanded */
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
      flex-direction: column;
    }
  
    /* .panel:nth-of-type(4),
    .panel:nth-of-type(4) {
      display: none;
    } */
  }



